@font-face {
    font-family: 'roboto-slab-light';
    src:
        url('fonts/robotoslab-light-webfont.woff') format('woff'),
        url('fonts/robotoslab-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --text-color: #01010D;
    --background-color: #D4D4F0;
    --primary-color: #353578;
    --primary-color-shadow: #7474AE;
    --primary-color-opacity: rgba(53, 53, 120, 0.5);
    --secondary-color: #522D74;
    --tertiary-color: #28596C;
}

body {
    font-family: 'roboto-slab-light', 'Courier New', Courier, monospace;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1200px;
    margin: 0 auto;
}

img {
    box-shadow: 5px 5px 5px var(--primary-color-shadow);
}

.profile,
.contact {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.profile {
    background: linear-gradient(to bottom right, var(--primary-color) 50%, var(--background-color) 50%)
}

.picture {
    position: relative;
    text-align: center;
}

.about {
    background-color: var(--background-color);
    box-shadow: 5px 5px 5px var(--primary-color-shadow);
    max-width: 50vw;
    height: min-content;
    margin: 10px 0;
    padding: 10px;
}

@media (max-width: 450px) {
    .about {
        max-width: 100vw;
    }
}

@media (min-width: 1400px) {
    .about {
        max-width: 35vw;
    }
}

.profile h1 {
    position: absolute;
    bottom: 0;
    left: 0rem;
    background-color: var(--primary-color-opacity);
    color: var(--background-color);
    width: 100%;
}

.contact {
    gap: 2rem;
    color: var(--background-color);
    background-color: var(--primary-color);
}

.profile img,
.contact img {
    margin: 0 auto;
    max-width: 100%;
}

.contact i {
    font-size: 1.5rem;
    padding-right: 10px;
    vertical-align: middle;
}

.links {
    display: flex;
    padding-bottom: 20px;
}

.about .links {
    justify-content: flex-end;
}

.links > i {
    font-size: 2.5rem;
}

.content {
    padding: 20px;
}

.content > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

.project > img {
    margin: 0 auto;
    max-width: 100%;
}
